body {
    width:100%;
}


.userTable {
    border: 1px solid #428bca;
    margin-left:auto;
    margin-right:auto;
    border-collapse:collapse;
    padding:5px;
    min-width:400px;
    text-align:left;
}

.userTable th {
    padding:5px 10px;
}

.userTable tr:nth-of-type(1) {
    background-color:#428bca;
}

.userTable tr:nth-of-type(2n+3) {
    background-color:#B3D1EA;
}

.userTable tr:nth-of-type(2n) {
    background-color:#fff;
}

.userTable .first-column {
    width:10%;
}

.userTable .second-column {
    width:80%;
    text-align:center;
}

.userTable .third-column {
    width:10%;
    text-align:center;
}

.centreButton {
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}

.panel {
    border-radius:5px;
    font-size:2em;
}

.panel-warning {
    background-color:#eed3d7;
    color:#b94a48;
}

.panel-success {
    background-color:#d6e9c6;
    color: #468847;
}
